<div class="col-md-10 col-md-offset-1">
    <h1>Create an Account</h1>
    <form name="signup_form" novalidate ng-submit="signupForm(newUserData)">
        <div class="form-group row">
            <label for="name" class="col-sm-2 form-control-label">First name</label>
            <div class="col-sm-7">
                <input class="form-control" ng-model="newUserData.name" type="text" id="name" name="name" required="required"/>
            </div>
            <div class="col-sm-3 error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.submitted ||
                      signup_form.name.$pristine && signup_form.name.$invalid && signup_form.submitted">
                <div class="alert alert-danger" ng-show="signup_form.name.$error.required" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Your name is required.
                </div>
                <!-- <small class="error" ng-show="signup_form.name.$error.required">
                    Your name is required.
                </small>
                <small class="error" ng-show="signup_form.name.$error.minlength">
                    Your name is required to be at least 3 characters
                </small>
                <small class="error" ng-show="signup_form.name.$error.maxlength">
                    Your name cannot be longer than 20 characters
                </small> -->
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 form-control-label">Last name</label>
            <div class="col-sm-7">
                <input class="form-control" ng-model="newUserData.lastName" type="text" id="lastName" name="lastName" required="required"/>
            </div>
            <div class="col-sm-3 error" ng-show="signup_form.lastName.$dirty && signup_form.lastName.$invalid && signup_form.submitted ||
                      signup_form.lastName.$pristine && signup_form.lastName.$invalid && signup_form.submitted">
                <div class="alert alert-danger" ng-show="signup_form.lastName.$error.required" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Your lastname is required.
                </div>
                <!-- <small class="error" ng-show="signup_form.lastName.$error.required">
                    Your lastname is required.
                </small>
                <small class="error" ng-show="signup_form.lastName.$error.minlength">
                    Your lastname is required to be at least 3 characters
                </small>
                <small class="error" ng-show="signup_form.lastName.$error.maxlength">
                    Your lasrna cannot be longer than 20 characters
                </small> -->
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-7">
                <input class="form-control" ng-model="newUserData.email" type="text" name="email" id="email" required="required"/>
            </div>
            <div class="col-sm-3 error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted ||
                      signup_form.email.$pristine && signup_form.email.$invalid && signup_form.submitted">
                <div class="alert alert-danger" ng-show="signup_form.email.$error.required" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Your email is required.
                </div>
                <!-- <small class="error" ng-show="signup_form.email.$error.required">
                    Your email is required.
                </small>
                <small class="error" ng-show="signup_form.email.$error.minlength">
                    Your email is required to be at least 3 characters
                </small>
                <small class="error" ng-show="signup_form.email.$error.maxlength">
                    Your email cannot be longer than 20 characters
                </small> -->
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-7">
                <input class="form-control" ng-model="newUserData.password" type="password" name="password" id="password" required="required"/>
            </div>
            <div class="col-sm-3 error" ng-show="signup_form.password.$dirty && signup_form.password.$invalid && signup_form.submitted ||
                      signup_form.password.$pristine && signup_form.password.$invalid && signup_form.submitted">
                <div class="alert alert-danger" ng-show="signup_form.email.$error.required" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Your password is required.
                </div>
                <!-- <small class="error" ng-show="signup_form.password.$error.required">
                    Your password is required.
                </small>
                <small class="error" ng-show="signup_form.password.$error.minlength">
                    Your password is required to be at least 3 characters
                </small>
                <small class="error" ng-show="signup_form.password.$error.maxlength">
                    Your password cannot be longer than 20 characters
                </small> -->
            </div>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>
