html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#container {
    padding: 10px;
    /* Height of the footer */
    padding-bottom: 130px;
}

/*----------------------------------------------------------------------------*/


/*NAV*/


/*----------------------------------------------------------------------------*/


/*login */


/*#login-dopdown {
  cursor: pointer;
}

#login-dp {
    width: 300px;
    padding: 20%;
}
#login-dp form {
    padding-top: 5%;
}*/

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}
#login-dp .help-block {
    font-size: 12px
}
#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .social-buttons {
    margin: 12px 0
}
#login-dp .social-buttons a {
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998;
}
.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}
.btn-tw {
    color: #fff;
    background-color: #55acee;
}
.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}
@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
        color: #606060;
    }
}
.modal-dialog {
    width: 350px;
}

/*----------------------------------------------------------------------------*/


/*FOOTER*/


/*----------------------------------------------------------------------------*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Height of the footer */
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/footer.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
}
#footer p {
    color: #dbdbdb;
    padding-top: 40px;
    text-align: center;
}
.alert {
    margin: 0;
    padding: 7px;
}

/*animate*/


/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/

.repeated-item.ng-enter, .repeated-item.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/

.repeated-item.ng-enter.ng-enter-active, .repeated-item.ng-move.ng-move-active {
    opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/

.repeated-item.ng-leave {
    /*animation: 0.5s my_animation;*/
}
@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.toast-top-right {
  top: 50px;
  right: 12px;
}
