html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#container {
    padding: 10px;
    /* Height of the footer */
    padding-bottom: 130px;
}

/*----------------------------------------------------------------------------*/


/*NAV*/


/*----------------------------------------------------------------------------*/


/*login */


/*#login-dopdown {
  cursor: pointer;
}

#login-dp {
    width: 300px;
    padding: 20%;
}
#login-dp form {
    padding-top: 5%;
}*/

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}
#login-dp .help-block {
    font-size: 12px
}
#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .social-buttons {
    margin: 12px 0
}
#login-dp .social-buttons a {
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998;
}
.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}
.btn-tw {
    color: #fff;
    background-color: #55acee;
}
.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}
@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
        color: #606060;
    }
}

/*----------------------------------------------------------------------------*/


/*FOOTER*/


/*----------------------------------------------------------------------------*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Height of the footer */
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/footer.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
}
#footer p {
    color: #dbdbdb;
    padding-top: 40px;
    text-align: center;
}
.alert {
  margin: 0;
  padding: 7px;
}
