<ul ng-show="!$ctrl.identy.isAuthenticated()" class="nav navbar-nav navbar-right">
    <li>
        <p class="navbar-text">Already have an account?</p>
    </li>
    <li id="dlDropDown" class="dropdown">
        <a id="login-dopdown" class="dropdown-toggle" data-toggle="dropdown">
            <b>Login</b>
            <span class="caret"></span>
        </a>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        Login:
                        <!-- <div class="social-buttons">
                            <a href="#" class="btn btn-fb">
                                <i class="fa fa-facebook"></i>
                                Facebook</a>
                            <a href="#" class="btn btn-tw">
                                <i class="fa fa-twitter"></i>
                                Twitter</a>
                        </div>
                        or -->
                        <form name="login_form" ng-submit="$ctrl.login(userData)" class="form" role="form" id="login-nav" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="emali">Email address</label>
                                <input type="text" ng-model="userData.email" class="form-control" id="emali" name="email" placeholder="Email address" required>
                                <div class="error" ng-show="login_form.email.$dirty && login_form.email.$invalid && login_form.submitted ||
                                          login_form.email.$pristine && login_form.email.$invalid && login_form.submitted">
                                    <div class="alert alert-danger" ng-show="login_form.email.$error.required" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Email is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" ng-model="userData.password" class="form-control" id="password" name="password" placeholder="Password" required>
                                <div class="error" ng-show="login_form.password.$dirty && login_form.password.$invalid && login_form.submitted ||
                                          login_form.password.$pristine && login_form.password.$invalid && login_form.submitted">
                                    <div class="alert alert-danger" ng-show="login_form.password.$error.required" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Password is required.
                                    </div>
                                </div>
                                <!-- <div class="help-block text-right">
                                    <a href="">Forget the password ?</a>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnSignin" class="btn btn-primary btn-block">Sign in</button>
                            </div>

                            <!-- <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    keep me logged-in
                                </label>
                            </div> -->
                        </form>
                    </div>
                    <div class="bottom text-center">
                        New here ?
                        <a ui-sref="register">
                            <b>Join Us</b>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
<!-- end login suff -->
<ul ng-show="$ctrl.identy.isAuthenticated()" class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle">{{$ctrl.identy.currentUser.email}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <!-- <li ng-show="identity.currentUser.isAdmin()">
                <a href="/admin/users">User Admin</a>
            </li> -->
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="" ng-click="$ctrl.logOut()">Sign Out</a>
            </li>
        </ul>
    </li>
</ul>
